<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SSP.ActiveDirectoryX.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- Dieser Abschnitt definiert die Protokollierungskonfiguration für My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Auskommentierung des nachfolgenden Abschnitts aufheben, um in das Anwendungsereignisprotokoll zu schreiben -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Auskommentierung des nachfolgenden Abschnitts aufheben und APPLICATION_NAME durch den Namen der Anwendung ersetzen, um in das Anwendungsereignisprotokoll zu schreiben -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.DirectoryServices" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <SSP.ActiveDirectoryX.My.MySettings>
      <setting name="smtpServerName" serializeAs="String">
        <value>192.168.100.13</value>
      </setting>
      <setting name="AdministrationDistinguishedName" serializeAs="String">
        <value>OU=BCW</value>
      </setting>
      <setting name="GrantsDistinguishedName" serializeAs="String">
        <value>OU=Applikationen,OU=Berechtigungen,OU=BCW</value>
      </setting>
      <setting name="RolesDistinguishedName" serializeAs="String">
        <value>OU=Rollen,OU=Berechtigungen,OU=BCW</value>
      </setting>
      <setting name="DepartmentRolesDistinguishedName" serializeAs="String">
        <value>OU=Abteilungsrollen,OU=Rollen,OU=Berechtigungen,OU=BCW</value>
      </setting>
      <setting name="ApplicationRolesDistinguishedName" serializeAs="String">
        <value>OU=Applikationsrollen,OU=Rollen,OU=Berechtigungen,OU=BCW</value>
      </setting>
      <setting name="BaseRolesDistinguishedName" serializeAs="String">
        <value>OU=Basisrollen,OU=Rollen,OU=Berechtigungen,OU=BCW</value>
      </setting>
      <setting name="ExtraRolesDistinguishedName" serializeAs="String">
        <value>OU=Extrarollen,OU=Rollen,OU=Berechtigungen,OU=BCW</value>
      </setting>
      <setting name="TeamRolesDistinguishedName" serializeAs="String">
        <value>OU=Teamrollen,OU=Rollen,OU=Berechtigungen,OU=BCW</value>
      </setting>
      <setting name="DenialRolesDistinguishedName" serializeAs="String">
        <value>OU=Verweigerungsrollen,OU=Rollen,OU=Berechtigungen,OU=BCW</value>
      </setting>
      <setting name="HolidayGroupsDistinguishedName" serializeAs="String">
        <value>OU=Urlaubsgruppen,OU=Organisation,OU=BCW</value>
      </setting>
      <setting name="WorkGroupsDistinguishedName" serializeAs="String">
        <value>OU=Arbeitsgruppen,OU=Organisation,OU=BCW</value>
      </setting>
      <setting name="AccountingGroupsDistinguishedName" serializeAs="String">
        <value>OU=Abrechnungsgruppen,OU=Organisation,OU=BCW</value>
      </setting>
      <setting name="GroupManagersDistinguishedName" serializeAs="String">
        <value>OU=Gruppenmanager,OU=Berechtigungen,OU=BCW</value>
      </setting>
      <setting name="OrganizationGroupsDistinguishedName" serializeAs="String">
        <value>OU=Organisation,OU=BCW</value>
      </setting>
      <setting name="UsersContainerDistinguishedName" serializeAs="String">
        <value>CN=Users,DC=bcw-intern,DC=local</value>
      </setting>
      <setting name="ExchangeDatabaseNames" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Standorte_NORD_Postachspeicher</string>
            <string>Standorte_NRW_Postachspeicher</string>
            <string>Standorte_SUED_Postachspeicher</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ExchangePowershellUrl" serializeAs="String">
        <value>https://mail.bildungscentrum.de/Powershell?serializationLevel=Full</value>
      </setting>
      <setting name="ExchangePowershellSchema" serializeAs="String">
        <value>http://schemas.microsoft.com/powershell/Microsoft.Exchange</value>
      </setting>
      <setting name="MappingsDistinguishedName" serializeAs="String">
        <value>OU=Mappings,OU=Berechtigungen,OU=BCW</value>
      </setting>
      <setting name="ManipulationUserName" serializeAs="String">
        <value>ad.manager@bcw-intern.local</value>
      </setting>
      <setting name="ManipulationUserPassword" serializeAs="String">
        <value>38mpztbcfrL3igfM0MMXNTRLPZflASRg</value>
      </setting>
      <setting name="UnixIdDistinguishedName" serializeAs="String">
        <value>CN=bcw-intern,CN=ypservers,CN=ypServ30,CN=RPcServices,CN=System,dc=bcw-intern,dc=local</value>
      </setting>
      <setting name="PrimaryMailDomain" serializeAs="String">
        <value>bcw-gruppe.de</value>
      </setting>
      <setting name="DomainAdminGroupId" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="DomainUserGroupId" serializeAs="String">
        <value>10001</value>
      </setting>
      <setting name="LdapProtocolName" serializeAs="String">
        <value>LDAP://</value>
      </setting>
      <setting name="AdoProviderName" serializeAs="String">
        <value>ADSDSOObject</value>
      </setting>
      <setting name="StatementConditionsMaximum" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="GroupManagerPrefix" serializeAs="String">
        <value>cn=gruppenmanager.</value>
      </setting>
      <setting name="GroupManagersLdapQueryString" serializeAs="String">
        <value>(&amp;(objectClass=group)(&amp;(name=gruppenmanager.*)(managedBy=*)))</value>
      </setting>
      <setting name="GroupManagersOfAdminGroupsLdapQueryString" serializeAs="String">
        <value>(&amp;(objectClass=group)(&amp;(!name=gruppenmanager.*)(managedBy=*)))</value>
      </setting>
    </SSP.ActiveDirectoryX.My.MySettings>
  </applicationSettings>
</configuration>
